# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock

# Build & test artifacts
/build/
/dist/
.phpunit.result.cache
coverage/

# Editor / OS
.idea/
.vscode/
*.sublime-*
.DS_Store
Thumbs.db

# Logs
*.log
